@import "antd/dist/reset.css";
@import url("../src/assets/css/main.css");

/* 
#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}
*/
.site-layout-background {
  background: #fff;
}

.ant-page-header-ghost {
  padding: 0px 0px 15px 0px !important;
}

.ant-layout-header {
  background-color: #ffffff !important;
}

.ant-layout-content {
  margin: 10px 10px 0px !important;
}

.transaction-item-highlight {
  /* color:
    #ffffff; */
  background-color: #007ad9;
}

.cursor-pointer {
  cursor: pointer;
}